@model POLBlog.Domain.Entities.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit @Model.Name</h2>

@using (Html.BeginForm("Edit", "Admin", new { category="PostsAdmin" } ,FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    <input type="hidden" name="categoryId" value="PostsAdmin" />
    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if(ViewData[Model.PostID.ToString()]==null)
        {
            @:None
        }else
        {
            <img width="150" height="150" alt="@Model.Name" src="@Url.Content((string)ViewData[Model.PostID.ToString()])"/>
        }
        <p>@Html.ValidationMessage("uploadError")</p>
        <div>Upload new image: <input type="file" name="Image" /></div>
    </div>
    
    <input type="submit" value="Save"/>
    @Html.ActionLink("Cancel and return to List", "ShowPosts", new { category = "PostsAdmin" })
}